/// Reset
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
ol,
ul,
li,
article {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    max-width: 100%;
}

article,
header,
nav, 
section {
    display: block;
}

body {
    font: 300 13px / 1.6em 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 100%;
    overflow-x: hidden;
}

p {
    text-transform: none;
    font-size: 0.7em;
    &.text-bottom {
        font-size: 0.9em;
        line-height: 2em;
    }
}

ul,
ol {
    list-style: none;
} /// Global styles
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: rgb(255, 255, 255);
    &:hover {
        color: rgb(255, 255, 255);
        opacity: 0.9;
    }
}